<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button (click)="showFilters()">
          <ion-icon slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button (click)="showSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>

    <ion-title>
      Bookings
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-list *ngIf="showFilter">
      <ion-list-header>
          <ion-label>Filtrar bookings</ion-label>
        </ion-list-header>
      <ion-item>
        <ion-label>BookingId</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione un criterio" [(ngModel)]="bookingIDOp" (ionChange)="filterResult()">
          <ion-select-option value="asc">Ascendente</ion-select-option>
          <ion-select-option value="desc">Descendente</ion-select-option>
          <ion-select-option value="">Ninguno</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
          <ion-label>bookingPrice</ion-label>
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione un criterio" [(ngModel)]="bookingPrice" (ionChange)="filterResult()">
            <ion-select-option value="asc">Ascendente</ion-select-option>
            <ion-select-option value="desc">Descendente</ion-select-option>
            <ion-select-option value="">Ninguno</ion-select-option>
          </ion-select>
        </ion-item>
          
    </ion-list>
    
  <ion-list>
    <ion-searchbar *ngIf="searchEnabled" placeholder="Buscar BookingID o Precio" (ionChange)="filterResult()" [(ngModel)]="searchText"></ion-searchbar>
    <ion-chip *ngFor="let filter of filters">
        <ion-label>{{filter}}</ion-label>
        <ion-icon name="close-circle" (click)="removeFilter(filter)"></ion-icon>
    </ion-chip>

    <ion-item *ngFor="let booking of bookingsSelected">
      <ion-icon name="paper" ></ion-icon>
      <div class="info-card">
        <div class="item-note-left">
          <p><strong>BookingId</strong>:<br> {{booking.bookingId }}</p>
          <p><strong>Cliente</strong>: {{booking.tutenUserClient.firstName + " " + booking.tutenUserClient.lastName }}</p>
        </div>
        <div class="item-note-rigth">
          <p><strong>Fecha de Creación</strong>: {{booking.bookingTime | date}}</p>
          <p><strong>Precio</strong>: {{ booking.bookingPrice | currency }}</p>
        </div>
        <div class="item-note">
          <p><strong>Dirección</strong>: {{ booking.locationId.streetAddress }}</p>
        </div>
     </div>
    </ion-item>
  </ion-list>

</ion-content>
