<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bookings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let booking of bookings">
      <ion-icon name="paper" ></ion-icon>
      <div class="info-card">
        <div class="item-note-left">
          <p><strong>BookingId</strong>:<br> {{booking.bookingId }}</p>
          <p><strong>Cliente</strong>: {{booking.tutenUserClient.firstName + " " + booking.tutenUserClient.lastName }}</p>
        </div>
        <div class="item-note-rigth">
          <p><strong>Fecha de Creación</strong>: {{booking.bookingTime | date}}</p>
          <p><strong>Precio</strong>: {{ booking.bookingPrice }}</p>
        </div>
        <div class="item-note">
          <p><strong>Dirección</strong>: {{ booking.locationId.streetAddress }}</p>
        </div>
     </div>
    </ion-item>
  </ion-list>

</ion-content>
